<div id="<%= dom_id emessage %>">
  <p>
    <strong>From email:</strong>
    <%= emessage.from_email %>
  </p>

  <p>
    <strong>To email:</strong>
    <%= emessage.to_email %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= emessage.message %>
  </p>

  <p>
    <strong>Ecard:</strong>
    <%= emessage.ecard_id %>
  </p>

</div>
